<div class="row">
    <div class="col">
        <app-company-edit></app-company-edit>
        <hr>
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer" *ngFor="let record of records; "
                (click)="onEditItem(record.companyCode)">
                <span class="fw-bold">ID:</span> {{ record.companyCode}} - <span class="fw-bold">Code:</span> {{
                record.companyCodeId}} - <span class="fw-bold"> Description:</span> {{ record.companyCodeDescription }}
            </a>
        </ul>
    </div>
</div>
<ng-http-loader></ng-http-loader>