
<div class="container" fd-bar>
     <fd-bar-element class="text-red" >
        <fd-object-identifier fd-title [bold]="true">
            <a href="#" fd-link>Compound Development</a>
        </fd-object-identifier>
        
    </fd-bar-element>
    <fd-bar-element><a fd-link   href="/home" > Home</a> </fd-bar-element>
    <fd-bar-element> <a fd-link href="/company"> Company</a> </fd-bar-element>
    <fd-bar-element> <a fd-link href="/city"> Location</a> </fd-bar-element>
    <fd-bar-element>
        <button fd-button label="Building" [fdMenu]="true" [fdMenuTrigger]="menuBuilding"></button>
        <fd-menu #menuBuilding>
            <li fd-menu-item>
                <a href="/building" fd-menu-interactive>
                    <span fd-menu-title>Building</span>
                </a>
            </li>

            <li fd-menu-item>
                <a href="/building-type" fd-menu-interactive>
                    <span fd-menu-title>Building Type</span>
                </a>
            </li>

            <li fd-menu-item hasSeparator>
                <a href="/building-area" fd-menu-interactive>
                    <span fd-menu-title>Building Area</span>
                </a>
            </li>
        </fd-menu>
    </fd-bar-element>
    <fd-bar-element>
        <button fd-button label="Project" [fdMenu]="true" [fdMenuTrigger]="menuProject"></button>
        <fd-menu #menuProject>
            <li fd-menu-item>
                <a href="/project" fd-menu-interactive>
                    <span fd-menu-title>Project</span>
                </a>
            </li>

            <li fd-menu-item hasSeparator>
                <a href="/project-area" fd-menu-interactive>
                    <span fd-menu-title>Project Area</span>
                </a>
            </li>
        </fd-menu>
    </fd-bar-element>
    <fd-bar-element>
        <button fd-button label="Unit" [fdMenu]="true" [fdMenuTrigger]="menuUnit"></button>
        <fd-menu #menuUnit>
            <li fd-menu-item>
                <a href="/unit" fd-menu-interactive>
                    <span fd-menu-title>Unit</span>
                </a>
            </li>

            <li fd-menu-item>
                <a href="/unit-area" fd-menu-interactive>
                    <span fd-menu-title>Unit Area</span>
                </a>
            </li>
            <li fd-menu-item>
                <a href="/unit-fixture" fd-menu-interactive>
                    <span fd-menu-title>Fixture </span>
                </a>
            </li>
            <li fd-menu-item>
                <a href="/unit-orientation" fd-menu-interactive>
                    <span fd-menu-title>Orientation </span>
                </a>
            </li>
            <li fd-menu-item>
                <a href="/unit-status" fd-menu-interactive>
                    <span fd-menu-title>Status </span>
                </a>
            </li>
            <li fd-menu-item>
                <a href="/unit-view" fd-menu-interactive>
                    <span fd-menu-title>View </span>
                </a>
            </li>
            <li fd-menu-item>
                <a href="/unit-usagetype" fd-menu-interactive>
                    <span fd-menu-title>UsageType </span>
                </a>
            </li>
            <li fd-menu-item>
                <a href="/unit-subtype" fd-menu-interactive>
                    <span fd-menu-title>SubType </span>
                </a>
            </li>
            <li fd-menu-item>
                <a href="/unit-floor" fd-menu-interactive>
                    <span fd-menu-title>Floor </span>
                </a>
            </li>
            <li fd-menu-item>
                <a href="/uom" fd-menu-interactive>
                    <span fd-menu-title>UnitOfMeasure </span>
                </a>
            </li>
            <li fd-menu-item>
                <a href="/uom" fd-menu-interactive>
                    <span fd-menu-title>UnitOfMeasure </span>
                </a>
            </li>
        </fd-menu>
    </fd-bar-element>
    <fd-bar-element><a fd-link href="/area"> AreaDetails </a> </fd-bar-element>
    <fd-bar-element><a fd-link href="/payment"> Payment </a> </fd-bar-element>
    <fd-bar-element><a fd-link href="/profit"> Profit </a> </fd-bar-element>  

</div>