<div class="row">
    <div class="col-xs-10">
        <app-unit-sub-type-edit></app-unit-sub-type-edit>
        <hr>
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer" *ngFor="let record of records; "
                (click)="onEditItem(record.unitSubtypeCode)">
                <span class="fw-bold">ID:</span> {{ record.unitSubtypeCode}} - <span class="fw-bold">Code:</span> {{
                record.subtypeId}} - <span class="fw-bold"> Description:</span> {{ record.subtypeDescr }}
            </a>
        </ul>
    </div>
</div>