<div class=" navbar" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="/company">Company</a>
    <a href="/city">Location</a>
    <div class="dropdown">
        <button class="dropbtn">Project
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/project">Projects</a>
            <a href="/project-area">Project Area</a>

        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Action
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </div>
    



    <a href="#about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>