<div class="row">
    <div class="col-xs-10">
        <app-unit-floor-edit></app-unit-floor-edit>
        <hr>
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer" *ngFor="let record of records; "
                (click)="onEditItem(record.id)">
                <span class="fw-bold">ID:</span> {{ record.id}} - <span class="fw-bold">Code:</span> {{ record.ufloorId}} - <span class="fw-bold"> Description:</span> {{ record.ufloorDescr }}
            </a>
        </ul>
    </div>
</div>