<div class="row">
    <div class="col-xs-10">
        <app-price-type-edit></app-price-type-edit>
        <hr>
        <ul fd-list>
            <li fd-list-item class="m-3 border border-primary rounded" style="cursor: pointer" *ngFor="let record of records; let i = index"
                (click)="onEditItem(i)">
                <span class="fw-bold">Code:</span> {{ record.code}} - <span class="fw-bold">Description:</span> {{
                record.description }}
            </li>
        </ul>
    </div>
</div>