<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div fd-form-set>
        <div class="row">
          <div fd-form-item>
            <label for="code" class="fw-bold">Code:</label>
            <input type="text" id="code" class="form-control" name="code" ngModel required>
          </div>
          <div fd-form-item>
            <label for="description" class="fw-bold">Description:</label>
            <input type="text" id="description" class="form-control" name="description" ngModel required>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button  class="btn btn-outline-success fw-bold  m-2" type="submit" [disabled]="!f.valid">{{ editMode ?
              'Update' : 'Add' }}
            </button>
            <button class="btn btn-outline-danger fw-bold m-2" type="button" (click)="onDelete()" *ngIf="editMode">
              Delete
            </button>
            <button class="btn btn-outline-primary fw-bold m-2" type="button" (click)="onClear()">
              Clear
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>