
<div class="row">
    <div class="col-xs-10">
        <app-unit-area-edit></app-unit-area-edit>
        <hr>
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer" *ngFor="let record of records; "
                (click)="onEditItem(record.unitAreaCode)">
                <span class="fw-bold">ID:</span> {{ record.unitAreaCode}} - <span class="fw-bold">Code:</span> {{ record.unitArea}} - <span class="fw-bold"> Description:</span> {{ record.description }}
            </a>
        </ul>
    </div>
</div>