<div class="row">
    <div class="col-xs-10">
     <app-profit-edit></app-profit-edit>
        <hr>
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer" *ngFor="let record of records; "
                (click)="onEditItem(record.id)">
                <span class="fw-bold">ID:</span> {{ record.id}} - <span class="fw-bold">Code:</span> {{ record.profitId}} - <span class="fw-bold"> Description:</span> {{ record.profitDescr }}
            </a>
        </ul>
        <!-- <ul fd-list>
            <li fd-list-item class="m-3 border border-primary rounded" style="cursor: pointer" *ngFor="let record of records; let i = index"
                (click)="onEditItem(i)">
                <span class="fw-bold">Code:</span> {{ record.code}} - <span class="fw-bold">Description:</span> {{
                record.description }}
            </li>
        </ul> -->
    </div>
</div>