<div class="row">
    <div class="col-xs-10">
        <app-unit-view-edit></app-unit-view-edit>
        <hr>
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer" *ngFor="let record of records; "
                (click)="onEditItem(record.unitViewCode)">
                <span class="fw-bold">ID:</span> {{ record.unitViewCode}} - <span class="fw-bold">Code:</span> {{
                record.viewId}} - <span class="fw-bold"> Description:</span> {{ record.viewDescr }}
            </a>
        </ul>
    </div>
</div>